In [262]:
import pandas as pd
import numpy as np
import pybaseball as pyb
import string as str

In [263]:
from pybaseball import batting_stats
from pybaseball import batting_stats_bref
from pybaseball import pitching_stats
from pybaseball import pitching_stats_bref


##############  Season Data  ######################

# Look at a single season worth of batting or pitching data from Fangraphs and/or Baseball Reference. 
# Dataframes will display in the Batting Season Data and Pitching Season Data tabs.

# Edit the season below to look at a different season
season = 2024

# Fangraph data is displayed in tabs in the spreadsheet
batting = batting_stats(season,qual=0).sort_values("Name")
#fangraph_pitching_season_df = pitching_stats(season,qual=0).sort_values("Name")

# Simply type "=<dataframe name>" in a spreadsheet tab to pull in baseball reference data
#baseball_reference_batting_season_df = batting_stats_bref(season).sort_values("Name")
#baseball_reference_pitching_season_df = pitching_stats_bref(season).sort_values("Name")

In [264]:
batting=batting[batting['AB'] > 20]

In [265]:
batting=batting[['Name', 'Team', 'AB', 'OBP', 'SLG', 'OPS']]

In [266]:
def getRank(stat):
    return batting[stat].rank(method='dense', ascending = False)
def getRankPercent(stat):
    return batting[stat] / batting.shape[0]

#batting['OPS_Rank']=batting['OPS'].rank(method='dense',ascending=False)

In [267]:
batting['OPS_Rank'] = getRank('OPS')
batting['OPS_Rank_Perc']=getRankPercent('OPS_Rank')

In [268]:
batting['OBP_Rank'] = getRank('OBP')
batting['OBP_Rank_Perc']=getRankPercent('OBP_Rank')

In [269]:
batting

,Name,Team,AB,OBP,SLG,OPS,OPS_Rank,OPS_Rank_Perc,OBP_Rank,OBP_Rank_Perc
477,Aaron Hicks,LAA,57,0.222,0.193,0.415,288.0,0.608879,163.0,0.344609
4,Aaron Judge,NYY,256,0.427,0.688,1.115,2.0,0.004228,7.0,0.014799
228,Abraham Toro,OAK,263,0.305,0.392,0.696,133.0,0.281184,91.0,0.192389
376,Adam Duvall,ATL,145,0.258,0.324,0.582,215.0,0.454545,136.0,0.287526
297,Adam Frazier,KCR,132,0.313,0.311,0.624,188.0,0.397463,83.0,0.175476
...,...,...,...,...,...,...,...,...,...,...
417,Zach McKinstry,DET,102,0.259,0.284,0.543,238.0,0.503171,135.0,0.285412
177,Zach Neto,LAA,232,0.298,0.435,0.734,102.0,0.215645,98.0,0.207188
225,Zach Remillard,CHW,33,0.342,0.333,0.675,150.0,0.317125,55.0,0.116279
405,Zack Gelof,OAK,192,0.245,0.313,0.558,229.0,0.484144,148.0,0.312896
455,Zack Short,- - -,55,0.273,0.164,0.436,283.0,0.598309,122.0,0.257928

In [270]:
batting.groupby('Team')['OPS_Rank_Perc'].mean()

Team
- - -    0.403805
ARI      0.272023
ATL      0.303911
BAL      0.254606
BOS      0.282241
CHC      0.355840
CHW      0.382770
CIN      0.330233
CLE      0.341790
COL      0.348705
DET      0.321749
HOU      0.258683
KCR      0.273784
LAA      0.342122
LAD      0.251737
MIA      0.391876
MIL      0.310254
MIN      0.279598
NYM      0.301797
NYY      0.287526
OAK      0.360076
PHI      0.242565
PIT      0.365486
SDP      0.295278
SEA      0.369415
SFG      0.296512
STL      0.373337
TBR      0.358786
TEX      0.356992
TOR      0.323291
WSN      0.336477
Name: OPS_Rank_Perc, dtype: float64

In [271]:
def getPlayer(NameLike):
    return batting[batting['Name'].str.contains(NameLike)]

In [286]:
getPlayer("Altuv")

,Name,Team,AB,OBP,SLG,OPS,OPS_Rank,OPS_Rank_Perc,OBP_Rank,OBP_Rank_Perc
80,Jose Altuve,HOU,285,0.349,0.453,0.801,56.0,0.118393,48.0,0.10148